body {
    font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  }
  .sidebar {
    border: solid 1px #dadada;
    margin: 1rem;
    padding: 2rem 0rem;
    width: 10rem;
    height: 80vw;
    border-left: 16px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  #sb-heading {
    text-transform: uppercase;
    color: blueviolet;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 0rem 0.5rem;
  }
  .sb-item {
    padding: 0.5rem;
    margin-bottom: 4px;
  }
  .sb-item:last-child {
    margin-bottom: 0px;
  }
  
  .sb-item:hover {
    font-weight: 600;
    cursor: pointer;
    background-color: #f0f0f0;
  }
  